footer {
  background-color: #142850;
  display: flex;
  padding: 3rem 0px 0px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.footer-images img {
  width: 8rem;
  height: 8rem;
}
.skysec-logo {
  border-radius: 50%;
}

footer > h3 {
  text-shadow: 0px 0px 21.2px #00a8cc;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 400;
  line-height: 120%;
  padding: 2rem;
}
footer > h3 > a {
  font-size: 1.25rem;
  color: #00a8cc;
  text-decoration: none;
}

.media-container {
  display: flex;
  gap: 3rem;
}
.media-container > a > img {
  width: 3rem;
}

.weblab-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.25rem;
}
.weblab-logo {
  width: 5rem;
}
