.sss {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  scroll-margin-top: 9.375rem;
  padding-bottom: 6.25rem;
}

.sss > h2 {
  padding-bottom: 2.5rem;
}

.sss > button {
  border: none;
  border-bottom: 2px solid #ffffff99;
  background-color: #0c7b93cc;
  font-weight: 400;
  text-align: start;
}
.sss > button > div {
  display: flex;
  font-size: 1.25rem;
  justify-content: space-between;
  padding: 0.75rem 1.25rem;
}
.sss > button > div > span {
  font-size: 1.75rem;
  padding-left: 2rem;
}
.cevap {
  background-color: #095b6dcc;
  font-size: 1.25rem;
  padding: 0px 1.25rem;
  overflow: hidden;
  max-height: 0px;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.cevap.acik {
  max-height: 9999px;
}
