.ctf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  scroll-margin-top: 100px;
}

.ctf > div {
  background-color: rgba(20, 40, 80, 0.2);
  text-align: center;
  align-self: stretch;
  padding: 3rem;
}
.ctf > div > h2 {
  font-family: Syne;
  font-size: 5rem;
  font-weight: 700;
}
.ctf > div > h3 {
  font-size: 3rem;
  color: #00a8cc;
  font-weight: 600;
}

.ctf-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3rem;
  width: 80%;
}
.ctf-about > p {
  color: #a7cbd3;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}
.ctf-about > a {
  border-radius: 100px;
  background: #00a8cc;
  box-shadow: 0px 0px 14px 0px #0c7b93;
  border: none;
  padding: 0.75rem 1.5rem;
  transition: all 0.3s ease-in;
}
.ctf-about > a:hover {
  box-shadow: 0px 0px 25px 0px #0c7b93;
}
.ctf-about > a:active {
  scale: 0.95;
}
.ctf > img {
  width: 50rem;
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .ctf > img {
    width: 40rem;
  }
}
@media only screen and (max-width: 800px) {
  .ctf > img {
    width: 25rem;
  }
}
